<tr data-index="<%= index %>">
<td class="command" data-command="editGeocache"><span class="ui-icon ui-icon-pencil"></span></td>
<td class="command" data-command="deleteGeocache"><span class="ui-icon ui-icon-trash"></span></td>
<td><%= title %></td>
<td><%= latitude %></td>
<td><%= longitude %></td>
<td><%= size %></td>
<td><%= terrain %></td>
<td><%= difficulty %></td>
</tr>